<html>
<title>RMDB</title>
  	<body>
  		<form action="/search" method="post">
			<a href="top50.html" ><img src="/static/top50.png" align="right" height =20px></a>
			<a href="listAll.html" ><img src="/static/AtoZ.png" align="left" height =35px></a>
			<br><br><br><br><br><br><br><br><br><br><br><br>
    			<center><strong><img src="/static/rmdb.png"></center><br>
			<center><input type="text" name="keyword"></input></center><br>
    			<center><input type="submit" value="Search movie,rating..."/></center>
  		</form>
	</body>
</html>
